<!DOCTYPE html>
{%- import "inc/macros.jinja" as macros -%}
<html><head>
    <title>{% block page_title %}{% endblock %} - JobControl</title>
    {{ macros.css("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css") }}
    {{ macros.css("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css") }}
    {{ macros.css("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css") }}
    {{ macros.google_fonts(["Roboto:400,700,400italic", "Roboto+Condensed:400,700,400italic"]) }}
    {{ macros.css(url_for('static', filename='pygments-friendly.css')) }}
    {{ macros.css(url_for('static', filename='style.css')) }}
</head><body>

    {% call macros.navbar(inverse=True, static="top", brand="JobControl") %}
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('webui.jobs_list') }}">Jobs</a></li>
          <li><a href="{{ url_for('webui.job_create') }}">New Job</a></li>
        </ul>
    {% endcall %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container-fluid">
          {% for category, message in messages %}
            {% if category == 'error' %}{% set category = 'danger' %}{% endif %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


    {% block page_body %}{% endblock %}

    <footer class="site-footer">
      <ul class="list-inline">
	{% set repo='rshk/jobcontrol' %}
	<li><a target="_blank" href="https://github.com/{{ repo }}">Source code</a></li>
	<li><a target="_blank" href="https://github.com/{{ repo }}/issues">Issues</a></li>
	<li><a target="_blank" href="https://github.com/{{ repo }}/issues/new?labels=bug">Report bug</a></li>
	<li><a target="_blank" href="https://github.com/{{ repo }}/issues/new?labels=enhancement">Request feature</a></li>
	<li><a target="_blank" href="https://rshk.github.io/jobcontrol">Documentation</a></li>
      </ul>

      <p>JobControl &mdash; Copyright &copy; 2014
	<a target="_blank" href="https://github.com/rshk">Samuele Santi</a>
	and <a target="_blank" href="http://trentorise.eu">Trento RISE</a>.
	Under Apache 2.0 License.</p>

    </footer>

    {{ macros.js("https://code.jquery.com/jquery-1.11.0.min.js") }}
    {{ macros.js("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js") }}
    {{ macros.js(url_for('static', filename='jobcontrol.js')) }}
    {% block scripts %}{% endblock %}
</body></html>
