{% extends 'base.jinja' %}

{% block page_title %}Job {{ job.id }}{% endblock %}

{% block page_body %}
<div class="container-fluid">

  {% if build.finished %}
    {% if build.skipped %}
      {% set row_class = 'warning' %}
      {% set status_line = 'Skipped' %}
    {% elif build.success %}
      {% set row_class = 'success' %}
      {% set status_line = 'Success' %}
    {% else %}
      {% set row_class = 'danger' %}
      {% set status_line = 'Failed' %}
    {% endif %}
  {% else %}
    {% set row_class = 'default' %}
    {% if build.started %}
      {% set status_line = 'Running' %}
    {% else %}
      {% set status_line = 'Created' %}
    {% endif %}
  {% endif %}

  <div class="pull-right">
    {{ macros.status_badge(top='Build', middle=build.id, bottom=status_line, class=row_class) }}
  </div>

  <h1>
    <a href="{{ url_for('webui.job_info', job_id=job.id) }}">Job {{ job.id }}</a>
    &raquo;
    Build {{ build.id }}
  </h1>

  <div class="row row-fluid">
    <div class="col-md-10">
      <h2>Job Information</h2>
      {% with job=job %}{% include "inc/job-details.jinja" %}{% endwith %}
    </div>
  </div>

  <h2>Build information</h2>

  {{ macros.progress_bar(cur=build.progress_current, total=build.progress_total, color=build.progress_info.color) }}

  {% if build.retval %}
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h3 class="panel-title">Return value</h3>
      </div>
      <div class="panel-body">
	<pre>{{ build.retval|pprint }}</pre>
      </div>
    </div>
  {% endif %}

  {% if build.exception %}
    <div class="panel panel-danger">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <strong>Exception:</strong>
	  {{ build.exception }}
	</h3>
      </div>
      <div class="panel-body">
	<strong>Full traceback:</strong>
	<pre>{{ build.exception_tb }}</pre>
      </div>
    </div>
  {% endif %}

  <div class="row row-fluid">

    <div class="col-md-6">

      <div class="jumbotron" style="font-size: 200%">

	<dl class="dl-horizontal">

	<dt>Start time:</dt>

	<dd>
	  {% if build.start_time %}
	    <abbr title="{{ build.start_time|strftime }}">
	      {{ build.start_time|humanize_timestamp }}
	    </abbr>
	  {% else %}N/A{% endif %}
	</dd>

	<dt>End time:</dt>

	<dd>
	  {% if build.end_time %}
	    <abbr title="{{ build.end_time|strftime }}">
	      {{ build.end_time|humanize_timestamp }}
	    </abbr>
	  {% else %}N/A{% endif %}
	</dd>

	{% if build.start_time and build.end_time %}
	  <dt>Duration:</dt>
	  <dd>{{ (build.end_time - build.start_time)|humanize_timedelta }}</dd>
	{% endif %}

	</dl>

      </div>
    </div>


    <div class="col-md-6">

      <div class="row row-fluid">

	<div class="col-xs-3">
	  {{ macros.flag_panel('Started', build.started, fcls='warning', ftxt='No') }}
	</div>

	<div class="col-xs-3">
	  {{ macros.flag_panel('Finished', build.finished, fcls='warning', ftxt='No') }}
	</div>

        <div class="col-xs-3">
          {% if build.finished %}
	    {{ macros.flag_panel('Success', build.success) }}
          {% else %}
	    {{ macros.flag_panel('Success', None) }}
          {% endif %}
        </div>

        <div class="col-xs-3">
          {% if build.finished %}
	    {{ macros.flag_panel('Skipped', build.skipped, 'warning', 'Yes', 'success', 'No') }}
          {% else %}
	    {{ macros.flag_panel('Skipped', None) }}
          {% endif %}
        </div>

      </div>

    </div>
  </div>

  <h2>Log messages</h2>

  <div class="log-messages">

    {% for record in messages %}

      {% if record.levelno <= 10 %}
	{% set row_class = 'debug' %}
      {% elif record.levelno <= 20 %}
	{% set row_class = 'info' %}
      {% elif record.levelno <= 30 %}
	{% set row_class = 'warning' %}
      {% elif record.levelno <= 40 %}
	{% set row_class = 'error' %}
      {% else %}
	{% set row_class = 'critical' %}
      {% endif %}

      <div class="message msg-{{ row_class }}">

	<div class="message-header">
	  <span class="levelname">{{ record.levelname }}</span>
	  <span class="date">{{ record.created|strftime }}</span>
	  <span class="logger-name">{{ record.name }}</span>
	  <span class="file">
	    <span class="filename">
	      {{- record.filename|escape -}}
	    </span>:<span class="lineno">
	      {{- record.lineno|escape -}}
	    </span>
	  </span>

	  <span class="function">
	    <span class="module">
	      {{- record.module|escape -}}
	    </span>.<span class="funcname">
	      {{- record.funcName|escape -}}
	    </span>
	  </span>
	</div>

	<div class="message-text">
	  {{ record.message|escape }}
	</div>

      </div>
    {% endfor %}

  </div>

    <br></br>

</div>
{% endblock %}
