{% extends 'base.jinja' %}

{% block page_title %}Build #{{ build.id }} - Job {{ job.title or job.id }}{% endblock %}

{% block page_body %}
<div class="container-fluid">

  {{ macros.build_info_title(job, build) }}
  {{ macros.build_info_nav(build.id, current='status') }}

  <div class="well">
    <strong>Start time:</strong>
    {% if build.start_time %}
      <abbr title="{{ build.start_time|strftime }}">
	{{ build.start_time|humanize_timestamp }}
      </abbr>
    {% else %}N/A{% endif %}

    &mdash;

    <strong>End time:</strong>
    {% if build.end_time %}
      <abbr title="{{ build.end_time|strftime }}">
	{{ build.end_time|humanize_timestamp }}
      </abbr>
    {% else %}N/A{% endif %}

    {% if build.start_time and build.end_time %}
      &mdash;
      <strong>Duration:</strong>
      {{ (build.end_time - build.start_time)|humanize_timedelta }}
    {% endif %}
  </div>

  {{ macros.build_progress_report(build.get_progress_info()) }}

  {# <div class="row row-fluid"> #}

  {#   <div class="col-md-6"> #}

  {#     <div class="jumbotron" style="font-size: 200%"> #}

  {#       <dl class="dl-horizontal"> #}

  {#       <dt>Start time:</dt> #}

  {#       <dd> #}
  {#         {% if build.start_time %} #}
  {#           <abbr title="{{ build.start_time|strftime }}"> #}
  {#             {{ build.start_time|humanize_timestamp }} #}
  {#           </abbr> #}
  {#         {% else %}N/A{% endif %} #}
  {#       </dd> #}

  {#       <dt>End time:</dt> #}

  {#       <dd> #}
  {#         {% if build.end_time %} #}
  {#           <abbr title="{{ build.end_time|strftime }}"> #}
  {#             {{ build.end_time|humanize_timestamp }} #}
  {#           </abbr> #}
  {#         {% else %}N/A{% endif %} #}
  {#       </dd> #}

  {#       {% if build.start_time and build.end_time %} #}
  {#         <dt>Duration:</dt> #}
  {#         <dd>{{ (build.end_time - build.start_time)|humanize_timedelta }}</dd> #}
  {#       {% endif %} #}

  {#       </dl> #}

  {#     </div> #}
  {#   </div> #}


  {#   <div class="col-md-6"> #}

  {#     <div class="row row-fluid"> #}

  {#       <div class="col-xs-3"> #}
  {#         {{ macros.flag_panel('Started', build.started, fcls='warning', ftxt='No') }} #}
  {#       </div> #}

  {#       <div class="col-xs-3"> #}
  {#         {{ macros.flag_panel('Finished', build.finished, fcls='warning', ftxt='No') }} #}
  {#       </div> #}

  {#       <div class="col-xs-3"> #}
  {#         {% if build.finished %} #}
  {#           {{ macros.flag_panel('Success', build.success) }} #}
  {#         {% else %} #}
  {#           {{ macros.flag_panel('Success', None) }} #}
  {#         {% endif %} #}
  {#       </div> #}

  {#       <div class="col-xs-3"> #}
  {#         {% if build.finished %} #}
  {#           {{ macros.flag_panel('Skipped', build.skipped, 'warning', 'Yes', 'success', 'No') }} #}
  {#         {% else %} #}
  {#           {{ macros.flag_panel('Skipped', None) }} #}
  {#         {% endif %} #}
  {#       </div> #}

  {#     </div> #}

  {#   </div> #}
  {# </div> #}

</div>
{% endblock %}
