{% extends 'base.jinja' %}

{% block page_title %}Job {{ job.id }}{% endblock %}

{% block page_body %}
<div class="container-fluid">

  <form action="{{ url_for('webui.job_run_submit', job_id=job.id) }}" method="POST">
    <div class="btn-group pull-right" style="margin-bottom:10px;">

      <a href="{{ url_for('webui.job_edit', job_id=job.id) }}" class="btn btn-default">
	<span class="fa fa-pencil-square-o"></span> Edit
      </a>

      <button class="btn btn-default">
	<span class="fa fa-cog"></span> Run
      </button>

      <a href="{{ url_for('webui.job_delete', job_id=job.id) }}" class="btn btn-default">
	<span class="fa fa-trash"></span> Delete
      </a>

    </div>
  </form>

  <h1>
    <span class="label label-round-huge label-primary">{{job.id}}</span>
    {# Job {{ job.id }}{% if job.title %} - {{ job.title }}{% endif %} #}
    {{ job.title or 'Untitled' }}
  </h1>

  {% with job=job %}{% include "inc/job-details.jinja" %}{% endwith %}

  <h2>Builds</h2>

  <form class="form-inline" role="form" action="" method="GET">

    <div class="form-group">
      <label for="filter-start-time-from">Start time (from/to)</label>
      <input class="form-control" name="filter-start-time-from" placeholder="YYYY-mm-dd HH:MM">
      <input class="form-control" name="filter-start-time-to" placeholder="YYYY-mm-dd HH:MM">
    </div>

    <div class="form-group">
      <label for="filter-end-time-from">End time (from/to)</label>
      <input class="form-control" name="filter-end-time-from" placeholder="YYYY-mm-dd HH:MM">
      <input class="form-control" name="filter-end-time-to" placeholder="YYYY-mm-dd HH:MM">
    </div>

    <div class="form-group">
      <label for="filter-started">Started?</label>
      <select class="form-control" name="filter-started">
	<option></option>
	<option value="true">Yes</option>
	<option value="false">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="filter-finished">Finished?</label>
      <select class="form-control" name="filter-finished">
	<option></option>
	<option value="true">Yes</option>
	<option value="false">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="filter-success">Success?</label>
      <select class="form-control" name="filter-success">
	<option></option>
	<option value="true">Yes</option>
	<option value="false">No</option>
      </select>
    </div>

    <div class="form-group">
      <label for="filter-skipped">Skipped?</label>
      <select class="form-control" name="filter-skipped">
	<option></option>
	<option value="true">Yes</option>
	<option value="false">No</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Filter</button>

  </form>

  <br>

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        {# <th>Job id</th> #}
        <th>Build id</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Success</th>
        <th>Skipped</th>
        <th>Progress</th>
        <th>Return value</th>
        <th>Exception</th>
      </tr>
    </thead>
    <tbody>
      {% for build in builds %}

	{% if build.finished %}
	  {% if build['skipped'] %}
	    {% set row_class = 'warning' %}
	  {% elif build['success'] %}
	    {% set row_class = 'success' %}
	  {% else %}
	    {% set row_class = 'danger' %}
	  {% endif %}
	{% else %}
	  {% set row_class = 'default' %}
	{% endif %}

	<tr class="{{ row_class }}">
	  {# <td style="width: 60px;"> #}
	  {#   <a href="href="{{ url_for('webui.job_info', job_id=job.id) }}""> #}
	  {#     <div class="label label-primary label-round"> #}
	  {# 	{{ build['job_id'] }} #}
	  {#     </div> #}
	  {#   </a> #}
	  {# </td> #}

	  <td style="width: 60px;">
	    <a href="{{ url_for('webui.build_info', build_id=build.id) }}">
	      <div class="label label-{{ row_class }} label-round">
		{{ build.id }}
	      </div>
	    </a>
	  </td>

	  <td class="align-lm">{{ build['start_time'] }}</td>
	  <td class="align-lm">{{ build['end_time'] }}</td>

	  <td class="align-cm {% if build.started %}success{% else %}warning{% endif %}">
	    {{ build['started'] }}
	  </td>

	  <td class="align-cm {% if build.finished %}success{% else %}warning{% endif %}">
	    {{ build.finished }}
	  </td>

          {% if build.finished %}
            <td class="align-cm {% if build.success %}success{% else %}danger{% endif %}">
              {{ build['success'] }}
            </td>
            <td class="align-cm {% if build.skipped %}warning{% else %}success{% endif %}">
              {{ build['skipped'] }}
            </td>
          {% else %}
            <td></td>
            <td></td>
          {% endif %}

	  <td class="align-cm">
	    {{ macros.progress_bar(cur=build.progress_current, total=build.progress_total, color=build.get_progress_info().color, size='small') }}

	    {# <div class="progress progress-striped {% if build.progress_info.percent < 100 %}active{% endif %}" #}
	    {# 	 style="min-width: 200px;position:relative;height:24px;background:#888;"> #}

	    {#   <div class="progress-bar" #}
	    {# 	   role="progressbar" #}
	    {# 	   aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" #}
	    {# 	   style="width: {{ build.progress_pc }}%; background-color: {{ build.progress_color }};"> #}
	    {#   </div> #}

	    {#   <div style="position:absolute;top:0;left:0;right:0; #}
	    {# 		  bottom:0;text-align:center;color:#fff; #}
	    {# 		  text-shadow: 1px 1px 1px #000;"> #}
	    {# 	{{ build['progress'] }}</div> #}

	    {# </div> #}
	  </td>
	  <td class="align-lm">
	    {% if build.retval %}
	      <code>{{ build.retval }}</code>
	    {% endif %}
	  </td>
	  <td class="align-lm">{{ build.exception or '' }}</td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
