{% extends 'base.jinja' %}

{% block page_title %}
  {% if job %}
    Edit Job #{{ job.id }}
  {% else %}
    Create Job
  {% endif %}
{% endblock %}

{% block page_body %}
<div class="container-fluid">

  {% if job %}
    <h1>Edit Job {{ job.id }}{% if job.title %} - {{ job.title }}{% endif %}</h1>
  {% else %}
    <h1>Create Job</h1>
  {% endif %}

  {% if job %}
    {% set form_action = url_for('webui.job_edit_submit', job_id=job.id) %}
  {% else %}
    {% set form_action = url_for('webui.job_create_submit') %}
  {% endif %}


  {% call macros.form(action=form_action) %}

    {{ macros.form_csrf_token() }}

    {{ macros.form_input('Title', 'title', val=form_data.title, err=form_errors.title) }}
    {{ macros.form_input('Function', 'function', val=form_data.function, err=form_errors.function) }}

    {% call macros.form_aside() %}
	-- function selector placeholder --
    {% endcall %}

    {{ macros.form_text('Arguments', 'args', val=form_data.args, err=form_errors.args) }}
    {{ macros.form_text('Keyword arguments', 'kwargs', val=form_data.kwargs, err=form_errors.kwargs) }}
    {{ macros.form_input('Dependencies', 'dependencies', val=form_data.dependencies, err=form_errors.dependencies) }}

    {% call macros.form_aside() %}
	-- job selector placeholder --
    {% endcall %}

    {{ macros.form_button('Save') }}

  {% endcall %}


</div>
{% endblock %}
