{% extends 'base.jinja' %}

{% block page_title %}Jobs{% endblock %}

{% block page_body %}

  <div class="container-fluid">

    <div class="btn-group pull-right">
      <a href="{{ url_for('webui.job_create') }}" class="btn btn-success btn-lg">
	<i class="fa fa-plus-square"></i>
	Create job
      </a>
    </div>

    <h1>All Jobs</h1>

    <div class="media-list media-list-striped">
      {% for job in jobs %}
	<div class="media">
	  {% set latest_build = job.get_latest_successful_build() %}

	  {% if job.has_builds() %}
	    {% if job.has_successful_builds() %}
	      {% if job.is_outdated() %}
		{% set badge_class='warning' %}
		{% set badge_status='Outdated' %}
	      {% else %}
		{% set badge_class='success' %}
		{% set badge_status='Success' %}
	      {% endif %}
	    {% else %}
	      {% set badge_class='danger' %}
	      {% set badge_status='Failed' %}
	    {% endif %}
	  {% else %}
	    {% set badge_class='default' %}
	    {% set badge_status='No builds' %}
	  {% endif %}

	  <div class="media-left">
	    <a href="{{ url_for('webui.job_info', job_id=job.id) }}">
	      {{ macros.status_badge(top='Job', middle=job.id, bottom=badge_status, class='compact ' + badge_class) }}
	    </a>
	  </div>

	  <div class="media-body" style="width: 100%">
	    <div class="btn-group pull-right">
	      <a href="{{ url_for('webui.job_info', job_id=job.id) }}" class="btn btn-default">
		<span class="fa fa-info-circle"></span>
		Info</a>
		<a href="{{ url_for('webui.job_edit', job_id=job.id) }}" class="btn btn-default">
		  <span class="fa fa-pencil-square-o"></span>
		  Edit</a>
		  <a href="{{ url_for('webui.job_delete', job_id=job.id) }}" class="btn btn-default">
		    <span class="fa fa-trash"></span>
		    Delete</a>
	    </div>

	    <h2 class="media-heading">
	      <a href="{{ url_for('webui.job_info', job_id=job.id) }}">
		{{ job.title or 'Untitled' }}
	      </a>
	      {% if latest_build %}
		<small>Latest built <abbr title="{{ latest_build.end_time }}">
		    {{ latest_build.end_time|humanize_timestamp }}</abbr></small>
	      {% else %}
		<small>No successful builds.</small>
	      {% endif %}
	    </h2>

	    {% set job_docs = job.get_docs() %}
	    <div style="font-size: 120%;margin-bottom: 1em;">

	      <em>{{ job_docs.function_module -}}</em>{{ '' -}}
	      .<strong>{{ job_docs.function_name -}}</strong>{{ '' -}}
	      ({{ job_docs.function_argspec_human }})

	    </div>

	    {# todo: allow toggling this #}
	    {# {{ job_docs.call_code_html }} #}

	    <div class="row row-fluid">
	      <div class="col-md-6">
		<strong>Dependencies:</strong>
		{{ macros.jobs_list(job.get_deps()|list, emptymsg='No dependencies') }}
	      </div>
	      <div class="col-md-6">
		<strong>Reverse dependencies:</strong>
		{{ macros.jobs_list(job.get_revdeps()|list, emptymsg='No reverse dependencies') }}
	      </div>
	    </div>


	  </div>
	</div>
      {% endfor %}
    </div>

  </div>
{% endblock %}
