{%- import "inc/macros.jinja" as macros -%}

{% set job_docs = job.get_docs() %}


{{ job_docs.call_code_html }}


<table class="table table-bordered">
  <tr>
    <th>Function</th>
    <td>
	<div style="font-size: 120%;margin-bottom: 1em;">
	      <em>{{ job_docs.function_module -}}</em>{{ '' -}}
	      .<strong>{{ job_docs.function_name -}}</strong>{{ '' -}}
	      ({{ job_docs.function_argspec_human }})
	</div>

	{% if job_docs.function_doc %}
	  <div>{{ job_docs.function_doc }}</div>
	{% endif %}

    </td>
  </tr>
  <tr>
    <th>Arguments</th>
    <td>
	{{ job.args|pprint|highlight(lexer='python') }}
    </td>
  </tr>
  <tr>
    <th>Keyword arguments</th>
    <td>
	{{ job.kwargs|pprint|highlight(lexer='python') }}
    </td>
  </tr>
  <tr>
    <th>Created</th>
    <td>{{ job.ctime|strftime }} ({{ job.ctime|humanize_timestamp }})</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td>{{ job.mtime|strftime }} ({{ job.mtime|humanize_timestamp }})</td>
  </tr>

  <tr>
    <th>Dependency graph</th>
    <td>
      <img src="{{ url_for('.job_depgraph', job_id=job.id, fmt='svg') }}" alt="Dependency graph">
    </td>
  </tr>

  <tr>
    <th>Dependencies</th>
    <td>
      {% set deps = job.get_deps()|list %}
      {{ macros.jobs_list(deps, emptymsg='No dependencies') }}
    </td>
  </tr>

  <tr>
    <th>Reverse dependencies</th>
    <td>
      {% set revdeps = job.get_revdeps()|list %}
      {{ macros.jobs_list(revdeps, emptymsg='No reverse dependencies') }}
    </td>
  </tr>
</table>
