{%- import "inc/macros.jinja" as macros -%}

{% set job_docs = job.get_docs() %}

<div>
  <h3>Documentation</h3>

  <div style="font-size: 120%;margin-bottom: 1em;">
    <em>{{ job_docs.function_module -}}</em>{{ '' -}}
    .<strong>{{ job_docs.function_name -}}</strong>{{ '' -}}
    ({{ job_docs.function_argspec_human }})
  </div>

  {% if job_docs.function_doc %}
    <div>{{ job_docs.function_doc }}</div>
  {% endif %}
</div>

<div class="row row-fluid">
  <div class="col-md-6">
    <h3>Configuration</h3>
    {{ job.get_conf_as_yaml()|highlight(lexer='yaml') }}
    {{ job.config|pprint|highlight(lexer='python') }}

    <h3>Code that will be executed</h3>
    {{ job_docs.call_code_html }}

  </div>
  <div class="col-md-6">
    <h3>Dependency graph</h3>
    {# <img src="{{ url_for('.job_depgraph', job_id=job.id, fmt='svg') }}" alt="Dependency graph"> #}
    <object data="{{ url_for('.job_depgraph', job_id=job.id, fmt='svg') }}" type="image/svg+xml">
      <span>Error loading dependency graph.</span>
    </object>

    <h3>Dependencies</h3>
    {% set deps = job.get_deps()|list %}
    {{ macros.jobs_list(deps, emptymsg='No dependencies') }}

    <h3>Reverse Dependencies</h3>
    {% set revdeps = job.get_revdeps()|list %}
    {{ macros.jobs_list(revdeps, emptymsg='No reverse dependencies') }}

  </div>
</div>
