{# ------------------------------------------------------------
    Misc shortcuts
------------------------------------------------------------ #}

{% macro css(href) %}
  <link rel="stylesheet" type="text/css" href="{{ href }}">
{% endmacro %}

{% macro google_fonts(fonts) %}
  {% set href = "http://fonts.googleapis.com/css?family=" + fonts|join("|") %}
  {{ css(href) }}
{% endmacro %}

{% macro js(src) %}
  <script src="{{ src }}" type="text/javascript"></script>
{% endmacro %}


{# ------------------------------------------------------------
    Bootstrap widgets
------------------------------------------------------------ #}

{% macro navbar(inverse=False, static=None, brand=None) %}
  <nav class="navbar {% if inverse %}navbar-inverse{% endif %} {% if static %}navbar-static-{{ static }}{% endif %}" role="navigation">
    <div class="container-fluid">

      {% if brand %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ brand }}</a>
        </div>
      {% endif %}

      {{ caller() }}

    </div>
  </nav>
{% endmacro %}


{% macro status_badge(class='', top='', middle='', bottom='', main='') -%}
    <div class="status-badge {{ class }}">
      {% if top %}<div class="line-top">{{ top }}</div>{% endif %}
      {% if middle %}<div class="line-middle">{{ middle }}</div>{% endif %}
      {% if bottom %}<div class="line-bottom">{{ bottom }}</div>{% endif %}
      {% if main %}<div class="line-main">{{ main }}</div>{% endif %}
    </div>
{%- endmacro %}


{% macro progress_bar(cur, total, color, size='big') -%}
  {% if total %}
    {% set percent = cur * 100 / total %}
  {% else %}
    {% set percent = 0 %}
  {% endif %}

    <div class="progress progress-striped {% if percent < 100 %}active{% endif %}"
       style="position:relative;background:#888;min-width:200px;{% if size == 'big' %}line-height:40px;height:40px;font-size:24px;{% else %}margin-bottom:0;{% endif %}">

    {% if total %}
       <div class="progress-bar"
            role="progressbar"
            aria-valuenow="{{ cur }}" aria-valuemin="0" aria-valuemax="{{ total }}"
            style="width: {{ percent }}%; background-color: {{ color }};">
       </div>
     {% endif %}

       <div style="position:absolute;top:0;left:0;right:0;
                   bottom:0;text-align:center;color:#fff;
                   text-shadow: 1px 1px 1px #000;">
        {% if total %}
          {{ cur }}/{{ total }} ({{ percent|round|int }}%)
        {% else %}
          N/A
        {% endif %}
       </div>
    </div>
{%- endmacro %}


{% macro flag_panel(title, flag, tcls='success', ttxt='Yes', fcls='danger', ftxt='No', ncls='gray', ntxt='?') %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body" style="text-align: center;">
      {% if flag is none %}
        <span class="label label-round-huge label-{{ ncls }}">{{ ntxt }}</span>
      {% elif flag %}
        <span class="label label-round-huge label-{{ tcls }}">{{ ttxt }}</span>
      {% else %}
        <span class="label label-round-huge label-{{ fcls }}">{{ ftxt }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}


{# ------------------------------------------------------------
    Forms
------------------------------------------------------------ #}


{% macro form_errors(errors) %}
  {% if errors %}
    {% for e in errors %}
      <div class="alert alert-danger">
        {{ e }}
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro form_input(label, name, placeholder='', type='text', val='', err=None) -%}
    <div class="form-group {% if err %}has-error{% endif %}">
      <label for="input-{{ name }}" class="col-sm-2 control-label">
        {{ label }}
      </label>
      <div class="col-sm-10">
        <input type="{{ type }}" class="form-control" id="input-{{ name }}" placeholder="{{ placeholder }}" name="{{ name }}" value="{{ val or '' }}">
          {{ form_errors(err) }}
      </div>
    </div>
{%- endmacro %}


{% macro form_select(label, name, options=[], val='', err=None) -%}
    <div class="form-group {% if err %}has-error{% endif %}">
      <label for="input-{{ name }}" class="col-sm-2 control-label">
        {{ label }}
      </label>
      <div class="col-sm-10">
        <select class="form-control" id="input-{{ name }}" name="{{ name }}">
	  {% for optlabel, optval in options %}
	    <option value="{{ optval }}" {% if optval == val %}selected{% endif %}>
	      {{ optlabel }}
	    </option>
	  {% endfor %}
	</select>
        {{ form_errors(err) }}
      </div>
    </div>
{%- endmacro %}


{% macro form_static(label, val) -%}
    <div class="form-group {% if err %}has-error{% endif %}">
      <label class="col-sm-2 control-label">{{ label }}</label>
      <div class="col-sm-10">
	<p class="form-control-static">{{ val }}</p>
      </div>
    </div>
{%- endmacro %}


{% macro form_text(label, name, val='', rows=5, err=None) -%}
    <div class="form-group {% if err %}has-error{% endif %}">
      <label for="input-{{ name }}" class="col-sm-2 control-label">
        {{ label }}
      </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="input-{{ name }}" name="{{ name }}" rows="{{ rows }}">
          {{- val or '' -}}
        </textarea>
        {{ form_errors(err) }}
      </div>
    </div>
{%- endmacro %}


{% macro form_checkbox(label, name, val=False, err=None) -%}
    <div class="form-group {% if err %}has-error{% endif %}">
      <div class="col-sm-10 col-sm-offset-2">
	<div class="checkbox">
	  <label>
            <input type="checkbox" id="input-{{ name }}" name="{{ name }}" value="true" {% if val %}checked{% endif %}>
              {{ label }}
	  </label>
	</div>
        {{ form_errors(err) }}
      </div>
    </div>
{%- endmacro %}


{% macro form_button(label='Submit', type='submit', action='', class='primary') %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="{{ type }}" class="btn btn-{{ class }}" {% if type == 'submit' %}name="action" value="{{ action }}"{% endif %}>{{ label }}</button>
    </div>
  </div>
{% endmacro %}


{% macro form_aside() %}
    <div class="form-group"><div class="col-sm-10 col-sm-offset-2">
        {{ caller() }}
    </div></div>
{% endmacro %}


{% macro form(action="", method="POST") %}
<form class="form-horizontal" role="form" action="{{ action }}" method="{{ method }}">
  {{ caller() }}
</form>
{% endmacro %}


{% macro form_csrf_token() %}
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
{% endmacro %}


{# ------------------------------------------------------------
    Application-specific
------------------------------------------------------------ #}

{% macro jobs_list(jobs, emptymsg='No jobs') %}
  {% if jobs %}
    <ul class="list-unstyled">
      {% for job in jobs %}
        <li><a href="{{ url_for('webui.job_info', job_id=job.id) }}">

	  {% if job.has_builds() %}
	    {% if job.has_successful_builds() %}
	      {% if job.is_outdated() %}
		{% set label_class='warning' %}
	      {% else %}
		{% set label_class='success' %}
	      {% endif %}
	    {% else %}
	      {% set label_class='danger' %}
	    {% endif %}
	  {% else %}
	    {% set label_class='default' %}
	  {% endif %}

	    <div class="label label-{{ label_class }}">{{ job.id }}</div>

            <strong>{{ job.title or 'untitled' }}</strong>
            {# <code>{{ job.function }}</code> #}
        </a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{ emptymsg }}</p>
  {% endif %}
{% endmacro %}


{% macro job_info_title(job) %}

  {% if job.has_builds() %}
    {% if job.has_successful_builds() %}
      {% if job.is_outdated() %}
	{% set badge_class='warning' %}
	{% set badge_status='Outdated' %}
      {% else %}
	{% set badge_class='success' %}
	{% set badge_status='Success' %}
      {% endif %}
    {% else %}
      {% set badge_class='danger' %}
      {% set badge_status='Failed' %}
    {% endif %}
  {% else %}
    {% set badge_class='default' %}
    {% set badge_status='No builds' %}
  {% endif %}

  {% set latest_build = job.get_latest_successful_build() %}

  <div class="media" style="margin-bottom: 20px;width:100%">
    <div class="media-left">
      {# {{ status_badge(top='Job', bottom=badge_status, class='compact ' + badge_class) }} #}
      {{ status_badge(main=badge_status, class='compact ' + badge_class) }}
    </div>
    <div class="media-body">
      <h1>{{ job.title or 'Untitled' }}</h1>
      <div>
	{% if latest_build %}
	  <strong>Latest built:</strong>
	  <abbr title="{{ latest_build.end_time }}">
	    {{ latest_build.end_time|humanize_timestamp }}</abbr>
	{% else %}
	  No successful builds.
	{% endif %}
      </div>
    </div>

    <div class="media-right pull-right">
      <form action="{{ url_for('webui.job_run_submit', job_id=job.id) }}" method="POST">
	{{ form_csrf_token() }}
	<button class="btn btn-primary btn-lg">
	  <span class="fa fa-cog"></span>
	  Quick build job
	</button>
      </form>
    </div>
  </div>

{% endmacro %}


{% macro job_info_nav(job_id, current=None) %}
  <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
    <li role="presentation" {% if current == 'info' %}class="active"{% endif %}>
      <a href="{{ url_for('webui.job_info', job_id=job_id) }}">Info</a></li>
    <li role="presentation"> <a href="#builds">Builds</a></li>
    {# <li role="presentation" {% if current == 'edit' %}class="active"{% endif %}> #}
    {#   <a href="{{ url_for('webui.job_edit', job_id=job_id) }}">Edit</a></li> #}
    <li role="presentation" {% if current == 'run' %}class="active"{% endif %}>
      <a href="{{ url_for('webui.job_run', job_id=job_id) }}">Run</a></li>
    {# <li role="presentation" {% if current == 'delete' %}class="active"{% endif %}> #}
    {#   <a href="{{ url_for('webui.job_delete', job_id=job_id) }}">Delete</a></li> #}
  </ul>
{% endmacro %}


{% macro job_info_details(job) %}
  {% with job=job %}{% include "inc/job-details.jinja" %}{% endwith %}
{% endmacro %}
