body {
    font-family: 'Roboto', sans-serif;
}

.label-round {
    padding:0;
    display: inline-block;
    border-radius: 60px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.label-round-huge {
    padding:0;
    display: inline-block;
    border-radius: 100px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.align-cm {
    text-align: center;
    vertical-align: middle !important;
}

.align-lm {
    text-align: left;
    vertical-align: middle !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #aaa;
}
.navbar-inverse .navbar-brand {
    color: #aaa;
}
.panel-danger {
    border-color: #D9534F;
}
.panel-danger > .panel-heading {
    background: #D9534F;
    color: #fff;
}



.log-messages {
    font-family: monospace;
    background: #222;
    color: #ddd;
    line-height: 1.5em;
}
.log-messages > .message > .message-header {
    background: #111;
}

.log-messages > .message:hover > .message-header {
    background: #333;
}
.log-messages > .message:hover > .message-text {
    background: #444;
}

.log-messages > tbody > tr > td,
.log-messages > tbody > tr > th {
    border: none;
    padding: 2px 5px;
}
.log-messages > .message > .message-header > .levelname {
    padding: 0 1em;
    min-width: 7em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.log-messages > .message {
    border-left: solid 5px #222;
}

.log-messages > .message.msg-debug {
    border-left-color: #33A78D;
}
.log-messages > .message.msg-debug > .message-header > .levelname {
    background: #33A78D;
    color: #fff;
}

.log-messages > .message.msg-info {
    border-left-color: #62AD0B;
}
.log-messages > .message.msg-info > .message-header > .levelname {
    background: #62AD0B;
    color: #fff;
}

.log-messages > .message.msg-warning {
    border-left-color: #DB6F00;
}
.log-messages > .message.msg-warning > .message-header > .levelname {
    background: #DB6F00;
    color: #fff;
}

.log-messages > .message.msg-error {
    border-left-color: #DC2F2F;
}
.log-messages > .message.msg-error > .message-header > .levelname {
    background: #DC2F2F;
    color: #fff;
}

.log-messages > .message.msg-critical {
    border-left-color: #DC2F2F;
}
.log-messages > .message.msg-critical > .message-header > .levelname {
    background: #DC2F2F;
    color: #fff;
}

.log-messages > .message > .message-header > .logger-name {
    background: #eee;
    color: #DC2F2F;
    padding: 0 1em;
    display: inline-block;
    text-align: center;
}
.log-messages > .message > .message-header > .date {
    color: #33A78D;
}
.log-messages > .message > .message-header > .file > .filename {
    color: #62AD0B;
}
.log-messages > .message > .message-header > .file > .lineno {
    color: #C8E600;
}
.log-messages > .message > .message-header > .function > .module {
    color: #DB6F00;
}
.log-messages > .message > .message-header > .function > .funcname {
    color: #E2AB00;
}
.log-messages > .message > .message-text {
    padding: 1em;
}
