body {
    font-family: 'Roboto', sans-serif;
}

.label-round {
    padding:0;
    display: inline-block;
    border-radius: 60px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.label-round-huge {
    padding:0;
    display: inline-block;
    border-radius: 100px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.align-cm {
    text-align: center;
    vertical-align: middle !important;
}

.align-lm {
    text-align: left;
    vertical-align: middle !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #aaa;
}
.navbar-inverse .navbar-brand {
    color: #aaa;
}
.panel-danger {
    border-color: #D9534F;
}
.panel-danger > .panel-heading {
    background: #D9534F;
    color: #fff;
}


.label-default {
    background: #777;
}
.label-gray {
    background: #ddd;
}


.log-messages {
    font-family: monospace;
    background: #222;
    color: #ddd;
    line-height: 1.5em;
}
.log-messages > .message > .message-header {
    background: #111;
}

.log-messages > .message:hover > .message-header {
    background: #333;
}
.log-messages > .message:hover > .message-text {
    background: #444;
}

.log-messages > tbody > tr > td,
.log-messages > tbody > tr > th {
    border: none;
    padding: 2px 5px;
}
.log-messages > .message > .message-header > .levelname {
    padding: 0 1em;
    min-width: 7em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.log-messages > .message {
    border-left: solid 5px #222;
}

.log-messages > .message.msg-debug {
    border-left-color: #33A78D;
}
.log-messages > .message.msg-debug > .message-header > .levelname {
    background: #33A78D;
    color: #fff;
}

.log-messages > .message.msg-info {
    border-left-color: #62AD0B;
}
.log-messages > .message.msg-info > .message-header > .levelname {
    background: #62AD0B;
    color: #fff;
}

.log-messages > .message.msg-warning {
    border-left-color: #DB6F00;
}
.log-messages > .message.msg-warning > .message-header > .levelname {
    background: #DB6F00;
    color: #fff;
}

.log-messages > .message.msg-error {
    border-left-color: #DC2F2F;
}
.log-messages > .message.msg-error > .message-header > .levelname {
    background: #DC2F2F;
    color: #fff;
}

.log-messages > .message.msg-critical {
    border-left-color: #DC2F2F;
}
.log-messages > .message.msg-critical > .message-header > .levelname {
    background: #DC2F2F;
    color: #fff;
}

.log-messages > .message > .message-header > .logger-name {
    background: #eee;
    color: #DC2F2F;
    padding: 0 1em;
    display: inline-block;
    text-align: center;
}
.log-messages > .message > .message-header > .date {
    color: #33A78D;
}
.log-messages > .message > .message-header > .file > .filename {
    color: #62AD0B;
}
.log-messages > .message > .message-header > .file > .lineno {
    color: #C8E600;
}
.log-messages > .message > .message-header > .function > .module {
    color: #DB6F00;
}
.log-messages > .message > .message-header > .function > .funcname {
    color: #E2AB00;
}
.log-messages > .message > .message-text {
    padding: 1em;
}


/************************************************************

    Status badge

************************************************************/
.status-badge {
    background: #777;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
}
.status-badge .line-top,
.status-badge .line-bottom {
}
.status-badge .line-top {
    font-size: 20px;
    line-height: 20px;
    top: 20px;
}
.status-badge .line-middle {
    top: 50px;
    font-size: 80px;
    line-height: 80px;
    height: 80px;
}
.status-badge .line-bottom {
    bottom: 30px;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
}
.status-badge .line-main {
    bottom: 30px;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
}

.status-badge .line-top,
.status-badge .line-middle,
.status-badge .line-bottom,
.status-badge .line-main {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    padding: 0;
    margin: 0;
}

.status-badge.compact {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.status-badge.compact .line-top {
    font-size: 14px;
    line-height: 14px;
    top: 10px;
}
.status-badge.compact .line-middle {
    top: 25px;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
}
.status-badge.compact .line-bottom {
    bottom: 15px;
    font-size: 14px;
    line-height: 15px;
}
.status-badge.compact .line-main {
    top: 30px;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;
    height: 40px;
    vertical-align: middle;
}
.status-badge.compact .line-bg {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    /* bottom: 10px; */
    color: rgba(0,0,0,.2);
    font-size: 80px;
    line-height: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}
.status-badge.success .line-bg {
    color: rgba(255,255,255,.4);
}
.status-badge.primary .line-bg {
    color: rgba(255,255,255,.4);
}

/* $brand-primary: #428bca !default; */
/* $brand-success: #5cb85c !default; */
/* $brand-info: #5bc0de !default; */
/* $brand-warning: #f0ad4e !default; */
/* $brand-danger: #d9534f !default; */

.status-badge.primary {
    background: #428bca;
}
.status-badge.success {
    background: #5cb85c;
}
.status-badge.info {
    background: #5bc0de;
}
.status-badge.warning {
    background: #f0ad4e;
}
.status-badge.danger {
    background: #d9534f;
}

/************************************************************

    Source code highlight

************************************************************/

.site-footer {
    text-align: center;
    border-top: solid 1px #ddd;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 90%;
}

.media-list-striped .media {
    padding: 10px;
    margin: 0;
    border-bottom: solid 1px #ddd;
}
.media-list-striped .media:first-child {
    border-top: solid 1px #ddd;
}
.media-list-striped .media:nth-child(even) {
    background: #f8f8f8;
}
.media-list-striped .media:nth-child(odd) {
    background: #f0f0f0;
}

[data-toggle] {
    color: #428bca;
    cursor: pointer;
}
